<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Garage V. Parrot{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>{#
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Garage V. Parrot</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vehicles') }}">Véhicules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>#}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    

    <footer>
        <div class="container">
            <h5>Horaires d'Ouverture</h5>
            <ul>
                {% set opening_hours = get_opening_hours() %}
                {% for openingHour in opening_hours %}
                    <li>{{ openingHour.day }}: {{ openingHour.openingTime|date('H:i') }} - {{ openingHour.closingTime|date('H:i') }}</li>
                {% else %}
                    <li>Aucun horaire défini.</li>
                {% endfor %}
            </ul>
        </div>
    </footer>
</body>
</html>
